<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Products</h2>
    <ol>
        {% for p in products %}
            {# if p.price > 500 #}
                <li>
                    <a href="{{url_for('product_detail', id_=p['id'])}}">
                        {{p['name']}}</li>
                    </a>
                    
            {# endif #}
        {% endfor %}
    </ol>

    <form action="{{url_for('create_product')}}" method="post">
        <input type="text" name="item">
        <button type="submit">Submit</button>
    </form>
</body>
</html>